@charset "utf-8";
#wrap{
  background: #f4f5ff;
}
.gallery_wrap {
  display : none;
  position: relative;
  top : 30px;
}


.line {
  background-color: #d17eec;
  margin : 0 auto;
  height: 2px;
  width: 47px;
  margin-top : 40px;
  margin-bottom : 10px;
  display: none;
}


.header .nav {
    background: #00000000;
}

.header_festival{
  width : 100%;
  min-width : 1180px;
  height : 400px;
  background: url('../images/festival/festival_header.png') 50% no-repeat;
  background-size: cover;
  text-align: center;
  color : #fff;
  box-sizing: border-box;
  display: none;
}

.header_festival .line{
  background-color: #fff;
  width : 0px;
  margin : 0 auto;
  margin-top : 10px;
  height : 2px;
  display: block;

}

.header_festival h1{
  padding-top : 175px;
  color : #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing : 2px;

}

.header_festival .title_copy {
  padding-top: 37px;
  font-size: 40px;
  font-weight: 300;
  /* display: none; */
}

.gnb_plus{
  width : 100%;
  height : auto;
  box-sizing: border-box;
  z-index: 5;
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.gnb_plus ul{
  overflow: hidden;
  width : 1180px;
  margin : 0 auto;
  box-sizing: border-box;
  /* background: #f9fdff; */
}

.gnb_plus ul li{
  float : left;
  width : 295px;
  height : 46px;
  text-align: center;
  font-size: 13px;
  /* color : #333; */
  color : #777;
  padding-bottom: 5px;
  z-index: 3;
  cursor : pointer;
}

.gnb_plus ul li p{
    line-height: 50px;
    height : 20px;

    z-index: 5;
    box-sizing: border-box;

}

.gnb_plus ul li:nth-child(1) {
  border-bottom: 1px solid #d17eec;
  color : #d17eec;
}


.section_festival {
  width : 100%;


}

.section_festival img{
  display: block;
  min-width : 100px;
  width : 100%;
  background-size:contain;
  /* width : 85%;
  margin-left: 7.5%;
  margin-right: 7.5%; */
}

.img_box {
  width : 100%;
  background: #fff;
  margin-bottom : 80px;
  display: none;
}

.img_box img{
  width : 1180px;
  min-width : 1180px;
  margin : 0 auto;
}

.section_festival h1.sub_title{
  text-align: center;
  padding-top: 50px;
  font-weight: 500;
  display: none;
}

.section_festival p.sub_copy{
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  width : 400px;
  margin : 0 auto;
  display: none;
}

.section_festival .sec{
  width : 100%;
}

.section_festival .sec.one{
  width : 100%;
  /* background: #e0f5ff; */
  background: #f4f5ff;
  /* display: none; */
  color : #555;

}

.section_festival .sec.two{
  width : 100%;
  height : 930px;
  /* background: #ffe; */
  background: #ffffee80;
  color : #333;
  overflow: hidden;

  /* display: none; */
  position : relatve;

}

.section_festival .sec.three{
  width : 100%;
  height : 1645px;
  background: url('../images/festival/sec3_bg.jpg') 50% no-repeat;
  background-size: cover;
  color : #fff;

  /* display: none; */
  position : relatve;

}

.section_festival .sec.four{
  width : 100%;
  height : auto;
  /* background: #eff; */
  background: #f2f9ff;
  border : 20px;
  color : #777;

  /* display: none; */
  position : relatve;
  top : 30px;

}

 /* sec one */

.sec.one .line{
  position : relative;
  top : 20px;
  display: none;
}

.sec.one > img {
  padding-bottom: 100px;
 }
.sec.one > h1.sub_title {

   position : relative;
   top : 20px;
   display: none;
 }


.sec.one > p.sub_copy {

   position : relative;
   top : 20px;
   display: none;
 }

.section_festival .sec.one .box_contents img{
/*   border : 2px solid #00d;*/
   box-sizing: border-box;
 }

.section_festival .sec.one .box_contents{
  width : 100%;
  margin-top : 0px;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom : 70px;
  /* background: #e0f5ff; */
  background: #f4f5ff;
}

.section_festival .sec.one .box_contents .center{
  width : 1180px;
  margin : 0 auto;
  height : 1422px;
  box-sizing: border-box;
  position : relative;
  left : 0px;
  top : 0px;
}

.section_festival .sec.one .box_contents .center .box {
/*  border : 19px solid #fff;*/
  box-sizing: border-box;
  background: #fff;
  border : 20px solid #fff;
  border-bottom : 2px solid #ccc;
/*
    border-right : 21px solid #fef;
    border-bottom : 22px solid #fef;
*/

}

 /* 박스 display none 설정 */

 .box { display: none;}


.section_festival .sec.one .box_contents .center .box p {

  padding : 10px;
  padding-top : 25px;
}

.section_festival .sec.one .center .box.one {
  width : 590px;
  height : 570px;
  position : absolute;
  left : 0px;
  top : 80px;

}

.section_festival .sec.one .center .box.two {
  width : 480px;
  height : 750px;
  position : absolute;
  right : 0px;
  top : 120px;

}

.section_festival .sec.one .center .box.three {
  width : 480px;
  height : 620px;
  position : absolute;
  left : 0px;
  bottom : 70px;
}

.section_festival .sec.one .center .box.four {
  width : 590px;
  height : 520px;
  position : absolute;
  right : 0px;
  bottom : -60px;
}

.bottom_bg {
  width : 100%;
  height : 1280px;
  opacity: 0.8;
  background: url('../images/festival/sec1to2.jpg') 50% no-repeat;
  background-attachment: fixed;
  background-size : cover;
}
/* section two */

.sec.two h1,.sec.two p, .sec.two .line {
  color : #777;
  position : relative;
  top : 20px;
}
/*
.sec.two h1, .sec.two p {
  position : relative;
  top : 20px;
}

.sec.two h1,.sec.two p {
  position : relative;
  top : 20px;
} */



/* section three */

.sec.three h1,.sec.three p, .sec.three .line {
  position : relative;
  top : 20px;
}

.sec.three .box_contents .box p {
  padding : 10px;
  padding-top : 25px;
}

.sec.three .box_contents .center{
  width : 1180px;
  height : 1350px;
  position : relative;
  left : 0px;
  top : 0px;
  margin : 0 auto;
  box-sizing: border-box;

}

.sec.three .box_contents .center .box{
/*  border : 1px solid #f6f5ff;*/
  box-sizing: border-box;
}

.section_festival .sec.three .center .box.one {
  width : 900px;
  height : 570px;
  position : absolute;
  left : 12%;
  top : 50px;
}

.section_festival .sec.three .center .box.two {
  width : 480px;
  height : 550px;
  position : absolute;
  left : 30px;
  top : 750px;
}

.section_festival .sec.three .center .box.three {
  width : 500px;
  height : 625px;
  position : absolute;
  right : 30px;
  top : 700px;
}

 /* section four */

 .sec.four h1,.sec.four p, .sec.four .line {
   color : #777;
   position : relative;
   top : 20px;
 }

.sec.four .box_contents .center{
  width : 1180px;
  height : 1350px;
  position : relative;
  left : 0px;
  top : 0px;
  margin : 0 auto;
  box-sizing: border-box;

}

.sec.four .box_contents .center .box{
/*  border : 2px solid;*/
  box-sizing: border-box;
  border : 20px solid #fff;
  background: #fff;
  border-bottom : 2px solid #ccc;

}

.sec.four .box_contents .center .box p{
    padding : 10px;
  padding-top : 25px;
}

.section_festival .sec.four .center .box.one {
  width : 480px;
  height : 850px;
  position : absolute;
  left : 0px;
  top : 180px;
}

.section_festival .sec.four .center .box.two {
  width : 590px;
  height : 520px;
  position : absolute;
  right : 0px;
  top : 100px;
}

.section_festival .sec.four .center .box.three {
  width : 590px;
  height : 520px;
  position : absolute;
  right : 0px;
  top : 740px;
}
