@charset"utf-8";
#wrap{
    width:100%;
    max-width:1180px; 
    height:auto;
    margin: 0 auto;
    
}

.tab_nav{
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    
}
.tab_nav>ul>li a{
    
color: #f37321;
}
.tab_nav>ul>li {
    width: 50%;
    height: 44px;
    float: left;
    
    
}

.article_one{
    width:100%;
    height:auto;
    
}


.one_title{ 
    text-align: center;
} 
p.copy{
    text-align: center;
    padding: 30px;
}
.one_video{
    text-align: center;
    width:100%;
    height: 100%;
    
}





.article_two{
    background: #ccc;
    padding: 50px;
}

.article_three{
    
    padding: 50px;
}

.article_four




.scene_content h1{
    text-align: center;
    box-sizing: border-box;
    
}

.scene_content .img.box{
    background:#d0b6b6;
    width: 25%;
    float: left;
   
    
}

.table_style1 table caption{
    font-size: 35px;
    padding:50px;
 
}

.table_style1 table{
    padding: 50px;
}

.table_style1 table th{
  padding-right: 50px;  
}

.article_five{
    padding: 50px;
/*    background:#f5f */
}
.article_five .two_title{
    text-align: center;
}
.article_five .scene_phone>ul>li{
    width: 33.3333%;
    float: left;
}








