@charset "utf-8";
.footer{
    width : 100%;
    height : 300px;
    background: #555;
    position : relative;
}
.footer .address{
    width : 98%;
    max-width: 1000px;
    background: #ff0;
    line-height: 300px;
    text-align: center;
    margin : 0 auto;
}