@charset "utf-8";
.header {
    width : 100%;
    height: auto;
    background: rgba(0,0,0,0.2);
    position : relative;
    left : 0;
    top : 0;
    z-index: 2;
}


.header .gnb{
    width : 98%;
    max-width : 1000px;
    background: #305;
    margin : 0 auto;
    overflow: hidden;
}


.header .gnb>ul>li{
    width : 25%;
    line-height: 50px;
    float : left;
    border : 1px solid #ddd;
    box-sizing: border-box;
    text-align: center;
   
}

.header .gnb>ul>li:nth-child(4){
    background: #30a;
}
/*

.header .gnb>ul::after {
    content:'';
    display: table;
    clear:both;
}
*/

.header .gnb>ul>li a{
    color : #fff;
}