@charset "utf-8";
#wrap {
    width : 100%;
    height : auto;
    position : relative;
}
#wrap .section {
    width : 98%;
    max-width : 1000px;
    height : 500px;
    border : 10px solid #faf;
    box-sizing: border-box;
    margin : 0 auto;   
}
