@charset "utf-8";

.login{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-top: 200px;
}

.login h1{
    text-align: center;
    margin-top: 40px;
    line-height: 100px;
    font-family: serif;
}



.login .loginForm .loginHeader>ul>li{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    float: left;
    text-align: center;
    line-height: 50px;
    margin-bottom: 10px;
    color: #707070;
    font-size: 14px;
}

#loginSubmit{
    background: #333333;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
}

.loginContent input{
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.loginFooter>ul>li a{
    display: block;
    width: 33.333%;
    height: 30px;
    float: left;
    text-align: center;
    color: #707070;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    line-height: 60px;
    font-size: 10px;
}

/*hover*/

#loginSubmit:hover{
    background: #555555;
    transition: all 0.5s;
}

/*
.login .loginForm .loginHeader>ul>li:hover{
    background: #fff;
    border-bottom: 0px;
    cursor: pointer;
}
*/
















