@charset"utf-8";

.gnb{
    width: 100%;
    
}

.block{
     width: 100%;
}
.block1>ul>li.left{
    width: 50%;
    float: left;
    background: #ccc;
    list-style: none;
    text-align: center;
}

.block1>ul>li.right{
    width: 50%;
    float: right;
}